
body{
	display: absolute;
	width: 1320px;
	height: 850px;
    color: white;
	background: url("back.jpg") no-repeat center center fixed;
    -webkit-background-size: initial;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

header {
    text-align:center;
    padding:5px;  
}

img{
    width:1300px;
    height:350px; 
}

section { 
    padding-top: 90px;   
    padding-left: 5px;
    height:750px;
    width:1350px   
}

table{
    margin: auto;
    text-align: center;
    position: relative;

}

th, td {
    padding: 5px;
    border:1px solid white;
    border-collapse: collapse;
    margin: 0 auto;
    text-align: center;
}

h1, table{
    position: relative;
    top: -110px;
}

h1{
    text-align: center;
    font-family: Georgia, "Times New Roman",
    Times, serif;
    font-size: 25px;
    /*padding-left: 400px;*/
    font-color:white;

}
footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px;  
    width:1350px     
}